
Solution1/Solution1.sln

Solution1/.idea/.idea.Solution1/.idea/indexLayout.xml

Solution1/.idea/.idea.Solution1/.idea/encodings.xml

domain/.idea/.idea.domain/.idea/

domain/domain/obj/

domain/domain.sln.DotSettings.user
